@import 'tailwindcss';
@source "../src";
@source "../../../packages/ui/components/";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    wireframe;
}

@theme {
  --font-family-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

.input.validator:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.input.validator {
  outline: none !important;
}
