VITE_EVM_CONTENT_NFT_CONTRACT_ADDRESS=0x16c52fe932247c699Df03FF9525aD5bc53055dec
VITE_EVM_LICENSE_NFT_CONTRACT_ADDRESS=0x2e0D5e9F35EC0F92c5b56f2A32f18b85DB109A4D
VITE_CLIENT_ID=69380268b4f12d4b2cb0f196
VITE_CREDENZA_OAUTH_URI=https://auth.staging.credenza3.com
# VITE_TRPC_URL=https://nibs-backend-staging.up.railway.app/trpc
VITE_CREDENZA_EVM_WSS=wss://evm-staging-staging.up.railway.app