ACCOUNTS_URL=https://accounts.staging.credenza3.com
CLIENT_ID=
CLIENT_SECRET=
MONGO_URI=mongodb://localhost:27017/chapter_ip_local?replicaSet=rs0
EVM_URL=https://evm.staging.credenza3.com
EVM_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_METADATA_BUCKET_HOST=https://pub-5c9112f4549643409ad80de98438b4c7.r2.dev
EVM_CONTENT_NFT_CONTRACT_ADDRESS=0x2CE3d6e64025E5825C38356a8EF087e748492928
EVM_LICENSE_NTF_CONTRACT_ADDRESS=0xBc79e90AF7782ec6109663F55Df00591ee01536c
