ACCOUNTS_URL=https://accounts.staging.credenza3.com
CLIENT_ID=
CLIENT_SECRET=
MONGO_URI=mongodb://localhost:27017/chapter_ip_local?replicaSet=rs0
EVM_URL=https://evm.staging.credenza3.com
EVM_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_METADATA_BUCKET_HOST=https://pub-5c9112f4549643409ad80de98438b4c7.r2.dev
EVM_CONTENT_NFT_CONTRACT_ADDRESS=0x4304Ef9be26Be954c5475E6c08770757bf3BbBB2
EVM_LICENSE_NTF_CONTRACT_ADDRESS=0x64096DFcD7fFA9843b3bF0BF4Ad4830a111F905a
