VITE_CLIENT_ID=69380268b4f12d4b2cb0f196
VITE_CREDENZA_OAUTH_URI=https://auth.staging.credenza3.com
# VITE_TRPC_URL=https://nibs-backend-staging.up.railway.app/trpc
VITE_EVM_CONTENT_NFT_CONTRACT_ADDRESS=0x073Cd140dCcB73AB117a2f747b89e1dAe390dD5E
VITE_EVM_LICENSE_NFT_CONTRACT_ADDRESS=0xF325212a0a558908001E74dD2d51DC17758aDE1e
VITE_CREDENZA_EVM_WSS=wss://evm-staging-staging.up.railway.app
