VITE_CLIENT_ID=69380268b4f12d4b2cb0f196
VITE_CREDENZA_OAUTH_URI=https://auth.staging.credenza3.com
# VITE_TRPC_URL=https://nibs-backend-staging.up.railway.app/trpc
VITE_EVM_CONTENT_NFT_CONTRACT_ADDRESS=0x8b1391b4BD0DCb645ed7004d26c58eda5c38D51e
VITE_EVM_LICENSE_NFT_CONTRACT_ADDRESS=0xFb48Baec3ca85af29F2A18E7bFc52ae445a92360
VITE_EVM_CRED_CONTRACT_ADDRESS=0x4f13a1D378c242da9eB7b1Aaaec6241169755642
VITE_CREDENZA_EVM_WSS=wss://evm-staging-staging.up.railway.app
