VITE_CLIENT_ID=69380268b4f12d4b2cb0f196
VITE_CREDENZA_OAUTH_URI=https://auth.staging.credenza3.com
# VITE_TRPC_URL=https://nibs-backend-staging.up.railway.app/trpc
VITE_EVM_CONTENT_NFT_CONTRACT_ADDRESS=0xadEC9Fa0a4dA5abe893F10c3b00016813F759a38
VITE_EVM_LICENSE_NFT_CONTRACT_ADDRESS=0x29582bEa17F864877df2544C654CE38B1EDED3CD
VITE_EVM_MEMBERSHIP_CONTRACT_ADDRESS=0x0983D53Bf272D5155b4f486BFe9A333D97e4B90F
VITE_EVM_CRED_CONTRACT_ADDRESS=0x4f13a1D378c242da9eB7b1Aaaec6241169755642
VITE_CREDENZA_EVM_WSS=wss://evm-staging-staging.up.railway.app
VITE_ACCOUNTS_URL=https://accounts.staging.credenza3.com
